# ****************************************************************************
# *                             Ignore Everything                            *
# ****************************************************************************

*

# ****************************************************************************
# *                                Allow List                                *
# ****************************************************************************

# (Start with "!")

# Directories
!*/

# Extensions
!*.html
!*.md
!*.py
!*.rst
!*.sample
!*.sh
!*.toml
!*.txt
!*.yaml
!*.yml

# Files
!.gitignore
!Dockerfile
!make.bat
!Makefile*
!Pipfile
!poetry.lock

# ****************************************************************************
# *                                 Deny List                                *
# ****************************************************************************

# Directories
docs/build*
src/static*

# Extensions


# Files
