{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav_active %}
<a class="nav-link" href="{% url 'operate_activity' %}">表演資訊<span class="sr-only">(current)</span></a>
{% endblock nav_active %}

{% block content %}
<div>
	<button type="button" href="#search" class="btn btn-primary" data-toggle="collapse" aria-pressed="false">搜尋</button>
	<a href="{% url 'operate_activity' %}" class="btn btn-warning">清除搜尋</a>
	<div id="search" class="collapse">
		<form method="get">
			<div class="row row-cols-3">
			{% for obj in filter.form %}
				{{ obj|as_crispy_field }}
			{% endfor %}
			</div>
			<input type="submit" class="btn btn-success btn-lg btn-block" />
		</form><br>
		<button type="button" href="#search" class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" aria-pressed="false">⬆️ 關閉搜尋條件 ⬆️</button>
	</div>
</div>

<hr>

<table class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>{{ filter.form.title.label }}</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for obj in page_obj %}
    <tr>
      <td>{{ obj.title }}</td>
      <td>{{ obj.click_through_rate }}</td>
      <td>
        {% if obj.url_flyer != "" %}
        <a href="{{ obj.url_flyer }}" class="btn btn-info" target="_blank">介紹</a>
        {% else %}
        <a href="" class="btn btn-info disabled">介紹</a>
        {% endif %}
      </td>
      <td>
        <a href="{% url 'update_activity' obj.id %}" class="btn btn-warning">修改</a>
        <a href="{% url 'delete_activity' obj.id %}" class="btn btn-danger">刪除</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav aria-label="Pager">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" tabindex="-1">⏮️ 1st</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">◀️ {{ page_obj.previous_page_number }}</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="?page=1" tabindex="-1">⏮️ 1st</a>
      </li>
    {% endif %}

      <li class="page-item disabled">
        <a class="page-link" href="" tabindex="-1">Current ({{ page_obj.number }})</a>
      </li>

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1">▶️ {{ page_obj.next_page_number }}</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" tabindex="-1">Last ({{ page_obj.paginator.num_pages }}) ⏭️</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" tabindex="-1">Last ({{ page_obj.paginator.num_pages }}) ⏭️</a>
      </li>
    {% endif %}
  </ul>
</nav>

{% endblock %}
